.main {
  display: grid;
  justify-content: center;
  margin: 20px;
}

.main_header {
  margin: 4rem auto;
}

.main_contacts{
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
}

.image_center{
  display: flex;
  justify-content: center;
}

/* point breaker para pc*/
@media (min-width: 500px) {
  .page{
    grid-template-columns: 1fr 1fr;
  }
}

