.main{

  & header{
    text-align: center;
    padding: 2rem 0;
  }
  
}

.container_profile{
  position: relative;
  font-size: 2.4rem;
  letter-spacing: .1rem;

}

.container_profile_aboutMe{
  display: flex;
  justify-content: center;
  margin: 8rem auto;
  gap: 10rem;

  & h2{
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: .2rem;
  }

  & p{
    font-weight: 300;
    letter-spacing: .1rem;
  }
}

.container_profile_aboutMe_image{
  position: relative;

  & div{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 25%;

  }
}

.instagram{
  color: #F17EB8;
  transition: all .2s ease-in-out;
}
.instagram:hover{
  color: #f17eb88c
}
.mail{
  color: #E02424;
  transition: all .2s ease-in-out;
}
.mail:hover{
  color: #e024247e;
}

.container_profile_aboutMe_text{
  max-width: 75rem;
  text-align: left;
}

.container_profile_contacts{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0;
}


